.article{
  margin-bottom: 4em;
}
.title{
  font-size: 1.5em;
  color: #437bff;
  text-align: center;
}

.second-title{
  color: #437bff;
  font-size: 1.2em;
}

.qrCode{
  height: 12em;
  width: 12em;
}

 .qrTitle{
  color: blue;
  font-size: 1.5em;
  font-weight: bold;
}

 #replay-input{
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius:20px;
   border-bottom-left-radius:20px;
 }

 #footer{
   height: 1.1em;
   font-size: 0.9em;
 }

 /*.navbar{*/
   /*!*height: 1.1em;*!*/
   /*min-height: 2.0em;*/
   /*max-height: 2.0em;*/
 /*}*/
