<div class="container-fluid article" *ngIf="wxArticle">
  <h2 class="title" [innerHtml]="wxArticle.title"></h2>
  <span class="second-title">{{getDate()|date:"yyyy-MM-dd "}}</span>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span class="second-title">盐城通信圈</span>
  <p></p>
  <div [innerHtml]="wxArticle.content "></div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <img class="qrCode" [src]="qrCodeUrl"/>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <img class="qrCode" [src]="wxQrCodeUrl"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-2">
      <span class="qrTitle">长按关注盐城通信圈，<br/>获取更多通信知识</span>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
      <span class="qrTitle">长按免费体验<br/>“腾讯大王卡”</span>
    </div>
  </div>

</div>

<div class="navbar navbar-default navbar-fixed-bottom"  *ngIf="wxArticle">
  <div class="container">
    <div id="footer" class="row">
      <div class="col-xs-2">
        <input id="replay-input" type="text">
      </div>
      <div class="col-xs-1 col-xs-offset-1">
        <!--收藏-->
        <span class=" glyphicon glyphicon-edit"></span>
        <!--<span class=" glyphicon glyphicon-heart-empty"></span>-->
      </div>

      <div class="col-xs-1 col-xs-offset-1"> <!--收藏-->
        <span class="fa fa-star-o"  *ngIf="!articleOperate.favorite"   (click)="favriteArticle()" >{{wxArticle?.favoriteCount}}</span>
        <span class="fa fa-star"  *ngIf="articleOperate.favorite"   (click)="favriteArticle()">{{wxArticle?.favoriteCount}}</span>
      </div>
      <div class="col-xs-1 "><!--点赞-->
        <span class="fa fa-thumbs-o-up" *ngIf="!articleOperate.like"  (click)="likeArticle()">{{wxArticle?.likeCount}}</span>
        <span class="fa fa-thumbs-up"     *ngIf="articleOperate.like"   (click)="likeArticle()" >{{wxArticle?.likeCount}}</span>
      </div>
      <div class="col-xs-1 ">        <!--讨厌-->
        <span  *ngIf="!articleOperate.hate" class="fa fa-thumbs-o-down" (click)="hateArticle()">{{wxArticle?.hateCount}}</span>
        <span *ngIf="articleOperate.hate"  class="fa fa-thumbs-down" (click)="hateArticle()">{{wxArticle?.hateCount}}</span>
      </div>
      <div class="col-xs-1 ">   <!--分享-->
        <span class="glyphicon glyphicon-share">{{wxArticle?.shareCount}}</span>
      </div>
      <div class="col-xs-2 col-xs-offset-1">
               <span >阅读数：{{wxArticle.readCount}}</span>
      </div>

    </div>
  </div>
</div>


<!--<p>wxqr={{wxQrCodeUrl|json}}</p>-->
<!--<p>qr={{qrCodeUrl}}</p>-->
<!--<p>imgUrl={{imgUrl}}</p>-->



<!--<div style="text-align:center">-->
  <!--<p> 我是一个喜欢图标&nbsp;&nbsp;<span class="glyphicon glyphicon-heart"></span></p >-->
  <!--<p> 我是一个空心图标&nbsp;&nbsp;<span class="glyphicon glyphicon-heart-empty"></span></p >-->
  <!--<br>-->
  <!--<p> 我是一个收藏图标&nbsp;&nbsp;<span class="glyphicon glyphicon-star"></span></p >-->
  <!--<p> 我是一个未收藏图标&nbsp;&nbsp;<span class="glyphicon glyphicon-star-empty"></span></p >-->
  <!--<br>-->
  <!--<p> 我是一个已扫码人数图标&nbsp;&nbsp;<span class="glyphicon glyphicon-qrcode"></span></p >-->
  <!--<p> 我是一个check图标&nbsp;&nbsp;<span class="glyphicon glyphicon-check"></span></p >-->
  <!--<p> 我是一个分享图标&nbsp;&nbsp;<span class="glyphicon glyphicon-share"></span></p >-->
  <!--<p> 我是一个SEE图标&nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span></p >-->
  <!--&lt;!&ndash;<p>	我是一个已读图标&nbsp;&nbsp;<span class="glyphicons glyphicons-eye-plus"></span></p >&ndash;&gt;-->
<!--</div>-->
{{wxArticle|json}}
<br><br><br><br>

