.article{
  margin-bottom: 4em;
  font-size: 1.2em;
}
.title{
  font-size: 1.3em;
  color: #437bff;
  text-align: center;
}

.second-title{
  color: #437bff;
  font-size: 1.1em;
}

.qrCode{
  height: 20em;
  width: 20em;
}

 .qrTitle{
  color: blue;
  font-size: 1.5em;
  font-weight: bold;
}

 #replay-input{
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius:20px;
   border-bottom-left-radius:20px;
 }

 #footer{
   height: 1.1em;
   font-size: 0.9em;
 }

 .navbar{
   height: 3em;
   min-height: 2.0em;
   max-height: 4.0em;
   font-size: 1.2em;
 }
